absl-py==2.5.0
annotated-types==0.8.0
anyio==4.14.2
av==18.1.0
blinker==1.9.0
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
click==8.4.2
cloudpickle==3.1.2
colorama==0.4.6
contourpy==1.3.3
ctranslate2==4.8.1
cycler==0.12.1
decorator==5.3.1
faster-whisper==1.2.1
filelock==3.32.2
Flask==3.1.3
flatbuffers==25.12.19
fonttools==4.64.0
fsspec==2026.7.0
h11==0.16.0
hf-xet==1.6.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.27.0
idna==3.18
ImageIO==2.37.4
imageio-ffmpeg==0.6.0
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.6.0
kiwisolver==1.5.1
lazy-loader==0.5
librosa==1.0.0
llvmlite==0.49.0
MarkupSafe==3.0.3
matplotlib==3.11.1
mediapipe==1.0.1
moviepy==2.2.1
msgpack==1.2.2
narwhals==2.25.0
numba==0.67.0
numpy==2.5.2
nvidia-cublas-cu12==12.9.2.10
nvidia-cuda-nvrtc-cu12==12.9.86
nvidia-cudnn-cu12==9.24.0.43
ollama==0.6.2
onnxruntime==1.28.0
opencv-contrib-python==5.0.0.93
opencv-python==5.0.0.93
packaging==26.3
pillow==11.3.0
platformdirs==4.11.7
pooch==1.9.0
proglog==0.1.12
protobuf==7.35.1
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
PyYAML==6.0.3
requests==2.34.2
scikit-learn==1.9.0
scipy==1.18.1
setuptools==84.0.0
six==1.17.0
sounddevice==0.5.6
soundfile==0.14.0
soxr==1.1.0
threadpoolctl==3.6.0
tokenizers==0.23.1
tqdm==4.70.0
typing-inspection==0.4.4
typing_extensions==4.16.0
urllib3==2.7.0
Werkzeug==3.1.8
